<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- mapper代理中，namespace代表着xml所对应的那个接口的全类名 -->
<!-- 四点相同：
		1.xml和接口的输入参数类型相同
		2.xml和接口的输出参数类型相同
		3.接口方法名和xml的id相同
		4.xml的namespace是接口的全类名
 -->

<mapper namespace="tc.mapper.ForumMapper" >

	<!-- 如果这里引用的是其他文件的map文件，resultMap参数需要加上namespace -->
  	<select id="insertForum" parameterType="tc.po.Forum">
  		insert forum (user_id,picture,username,description,content,date) values (#{userId},#{picture},#{username},#{description},#{content},#{date});
  	</select>
  	
  	
  	<!-- 使用resultMap完成，表中字段和类属性的映射
		type:resultMap最终映射的java对象，可以使用别名
		id:resultMap的唯一标识，，resultMap中的id应该和select中的resultMap的类型一致
		 -->
	<resultMap type="tc.po.Forum" id="forumResultMap">
		<!-- id:数据库中的主键的映射 
			result：数据库中非主键列的映射-->
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="picture" property="picture"/>
		<result column="username" property="username"/>
		<result column="description" property="description"/>
		<result column="content" property="content"/>
		<result column="date" property="date"/>
	</resultMap>

	<!-- 如果这里引用的是其他文件的map文件，resultMap参数需要加上namespace -->
  	<select id="selectForumById" parameterType="int" resultMap="forumResultMap">
  		select id,user_id,picture,username,description,content,date from forum where id=#{id};
  	</select>
  	
</mapper>